/* --- STYLE SWITCHER --- */
.style-settings {
    position: fixed;
    top: 140px;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    z-index: 9999;
}
.style-settings .style-settings-icon {
    display: block;
    height: 40px;
    line-height: 42px;
    font-size: 24px;
    color: #555;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.style-settings .dropdown-menu {
    top: 35px;
    left: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
.style-settings .inner {
    padding: 10px 10px 7px 10px;
	border-bottom:1px solid #e5e5e5;
}
.style-settings .inner:last-child {
	border:0;
}
.switchbox,
.switchskin {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    cursor: pointer;
    border: 3px solid #fff;
	border-radius:50%;
	margin:5px 0;
}
.switchbox:hover,
.switchskin:hover {
    border-color: #ddd
}
.style-settings #mediumaquamarine {
    background-color: #1bbc9d
}
.style-settings #red {
    background-color: #d64040
}
.style-settings #blue {
    background-color: #36bec6
}
.style-settings #yellow {
    background-color: #ffc000
}
.style-settings #green {
    background-color: #90b33a
}
.style-settings #pink {
    background-color: #f05772
}
.style-settings #fiolet {
    background-color: #bf4fc0
}
.style-settings #black {
    background-color: #000000
}


.style-settings ul { list-style:none; padding:0; margin:0;}
.style-settings ul li { display:block; }
.style-settings ul li a { display:block; padding:7px; border-bottom:1px solid #eee; color:#0080c3; text-decoration:none; font-weight:bold; font-size:13px;}
.style-settings ul li a:hover, .style-settings ul li a.active { background:#eee;}
.style-settings ul li:last-child a { border:0;}

.style-settings h6 { padding:0; margin-bottom:10px; margin-top:0;}
.style-settings .os { font-size:24px;}
.style-settings .os a { margin-right:8px; color:#ccc;}
.style-settings .os a:hover,.style-settings .os a.active { color:#555;}

@media (max-width: 768px) { 
    .style-settings {
		display:none;
	}
}

